<!DOCTYPE html>
<html>
  <head>
    <title>Version Scanner</title>

    <link rel="stylesheet" href="/stylesheets/consoledesigns.css">
  </head>
  <body>
    <div id="console">

    </div>

    <script type="text/javascript">
      function logMe(str) {
        var p = document.createElement('p');
        p.innerHTML = str
        p.className = 'consoleMessage'
        document.getElementById('console').appendChild(p);
      }

      logMe('Checking browser/system version...');

      logMe('-------------------------------');
      logMe(navigator.appCodeName);
      logMe(navigator.appName);
      logMe(navigator.appVersion);
      logMe(navigator.cookieEnabled);
      logMe(navigator.platform);
      logMe(navigator.userAgent);
      logMe('-------------------------------');

      if(navigator.platform == 'Nintendo WiiU')
      {
        var version = navigator.appVersion.match("NX\/(.*) NintendoBrowser\/");
        switch(version)
        {
          case "3.0.4.2.12":
            logMe('Sysver: 5.5.1');
            window.location.replace('folder?version=551');
            break;
          case "3.0.4.2.11":
            logMe('Sysver: 5.5.0');
            window.location.replace('folder?version=550');
            break;
          case "3.0.4.2.9":
            logMe('Sysver: 5.4.0');
            window.location.replace('folder?version=540');
            break;
          case "3.0.3.12.15":
            logMe('Sysver: 5.3.2');
            window.location.replace('folder?version=532');
            break;
          default:
            logMe('Sysver: Unsupported system version, defaulting to 5.5.1');
            logMe('Click <a href="folder?version=551">here</a> to access the launcher')

            break;
        }
      }
      else
      {
        logMe('Not running on a Wii U.. defaulting to 5.5.1');
        logMe('Click <a href="folder?version=551">here</a> to access the launcher')
      }
    </script>
  </body>
</html>